# Ignorer virtuelle miljøer
venv/
.venvs/

# Ignorer Python-kompilerte filer
__pycache__/
*.pyc
*.pyo

# Ignorer miljøspesifikke konfigurasjonsfiler
.env

# Ignorer loggfiler
*.log

# Ignorer migrasjonsfiler
migrations/
